section {
  margin: 32px;
}

.editables {
  min-width: 300px;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 700;
  margin-bottom: 32px;
}

fieldset h1 {
  font-size: 1.5rem;
}

fieldset label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 600;
}

fieldset label span:nth-of-type(2) {
  font-size: 0.7rem;
  color: var(--gray);
}

fieldset input {
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
}

fieldset input:focus {
  border: 2px solid var(--blue);
  transition: border 0.5s;
}

fieldset ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

fieldset li {
  cursor: pointer;
  font-size: 1.2rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.buttons :nth-child(1) {
  background-color: red;
}

.buttons :nth-child(2) {
  background-color: green;
}

.add-button {
  background-color: var(--blue);
}

.date {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.displayables {
  align-self: center;
  height: 29.7cm;
  width: 21cm;
  box-shadow: 0 0 8px var(--gray);
  word-wrap: break-word;
}
